services:
  web:
    build: .
    container_name: flask-app
    ports:
      - "8000:5000"
    environment:
      - FLASK_ENV=development
      - DATABASE_URL=postgresql://flaskuser:flaskpass@db:5432/flaskdb
    depends_on:
      - db

  db:
    image: postgres:16
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_USER: flaskuser
      POSTGRES_PASSWORD: flaskpass
      POSTGRES_DB: flaskdb
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: