.font-nunito {
    font-family: "Nunito", sans-serif;
}

.font-rubik {
    font-family: "Rubik", sans-serif;
}

.font-josefin {
    font-family: "Josefin Sans", sans-serif;
}

/* Font weight helpers */
.w300 { font-weight: 300; }
.w400 { font-weight: 400; }
.w500 { font-weight: 500; }
.w600 { font-weight: 600; }
.w700 { font-weight: 700; }